/* Base Application Styles */
html,body {
  height:100%;
  width:100%;
  background: #222;
}
.content{
  width: 100%;
  height:100%;
}
.stage{
  position: relative;
  width: 100%;
  height: 100%;
}
.img-sec{
  position: relative;
  width:100%;
  height:100%;
  perspective: 1800px;
  overflow: hidden;
  background-color: #ddd;
}
.img-figure{
  width: 320px;
  height: 360px;
  position: absolute;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all 0.6s;
}
.img-figure .is-inverse{
  transform: translate(320px) rotateY(180deg);
}
.img-back{
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height: 100%;
  padding:30px;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  background: #fff;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
}
figcaption{
  text-align: center;
}
figcaption .img-title{
  margin:20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px;
}
